.pageContainer {
  width: 100%;
  padding-top: 6rem;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.cardBody {
  width: 450px;
  height: 300px;
  border: 1px solid #ffffff;
  border-radius: 15px;
  background-color: #fefefe05;
  padding: 2rem;
}